html,body{
margin:0;
height:100%;
overflow:hidden;
}

body{
background:url("tcmimg/sky.jpg");
background-size:cover;
background-position:center;
}


.game{
width:100vw;
height:100vh;
position:relative;
}


.food{
position:absolute;
text-align:center;
}

.foodimg{
width:160px;
position:relative;
z-index:2;
}


.burst{
position:absolute;
top:40%;
left:50%;
transform:translate(-50%,-50%);
width:250px;
display:none;
z-index:0;
}

button{
padding:6px 14px;
margin:4px;
font-size:16px;
cursor:pointer;
border-radius:6px;
background:white;
}


button.hot{
color:red;
border:2px solid red;
}


button.cold{
color:blue;
border:2px solid blue;
}


.womanContainer{
position:absolute;
bottom:0;
left:0px;
z-index:5;
}

.woman{
width:320px;
cursor:pointer;
transition: all 0.3s ease;
}

.woman:hover{
filter: drop-shadow(0 0 20px gold);
transform: scale(1.1);
}


.speechText{
position:absolute;

left:230px;
bottom:120px;

border:2px solid black;
border-radius:2px;

font-size:18px;

display:none;

cursor:pointer;

background:orange;
padding:4px 6px;
white-space:nowrap;

}